# ################# REQUIRED ENV VARS START #################
PORT=8080
MONGODB_URI=mongodb://mongodb:27017 # `mongodb://localhost:27017` in case using local mongodb
NODE_ENV=development # changing this will avoid stack traces in the error response
EXPRESS_SESSION_SECRET=v6we4gF4vsbeswcebaew77fewvVEsdfvbrrwSFsvsvse # ok to change

ACCESS_TOKEN_SECRET=VCeWGaQIgnaFvwegbBswgeW # ok to change
ACCESS_TOKEN_EXPIRY=1d # 1 day. Formats: https://github.com/vercel/ms#examples
REFRESH_TOKEN_SECRET=vaRFDBswBZASfaXVfbjbBcvegvJBIUBiBbbUIOdw # ok to change
REFRESH_TOKEN_EXPIRY=10d # 10 days. Formats: https://github.com/vercel/ms#examples


# ################ Cors Config ################
CORS_ORIGIN_1=http://localhost:3000 # for local development
CORS_ORIGIN_2=http://192.168.1.36:3000 # for local network environment


VAPID_PUBLIC_KEY=vapid_public_key # need to change
VAPID_PRIVATE_KEY=vapid_private_key # need to change

# ################# REQUIRED ENV VARS END #################

# ----------------------------------------------------------------------------------------------------------

EMAIL_ADDRESS=abc@gmail.com

# ################ ENV VARS TO SEND MAILS THROUGH MAILTRAP START #################
MAILTRAP_SMTP_HOST="smtp.gmail.com" # no need to change if using gmail
MAILTRAP_SMTP_PORT=465   # no need to change if using gmail
MAILTRAP_SMTP_USER="abc@gmail.com" # need to change
MAILTRAP_SMTP_PASS="abc drf ghi jkl" #need to change, get it from your email provider
# ################ ENV VARS TO SEND MAILS THROUGH MAILTRAP END #################

# # ----------------------------------------------------------------------------------------------------------

# ################ ENV VARS TO ENABLE PAYMENT THROUGH RAZORPAY START #################
RAZORPAY_KEY_ID=__razorpay_key_id__
RAZORPAY_KEY_SECRET=__razorpay_key_secret__
# ################ ENV VARS TO ENABLE PAYMENT THROUGH RAZORPAY END #################

# # ----------------------------------------------------------------------------------------------------------

# ################ ENV VARS TO ENABLE PAYMENT THROUGH PAYPAL START #################
PAYPAL_CLIENT_ID=__paypal_client_id__
PAYPAL_SECRET=__paypal_secret__
# ################ ENV VARS TO ENABLE PAYMENT THROUGH PAYPAL END #################

# # ----------------------------------------------------------------------------------------------------------

# ################ ENV VARS TO ENABLE GOOGLE SSO LOGIN START #################
GOOGLE_CLIENT_ID=__google_client_id__
GOOGLE_CLIENT_SECRET=__google_client_secret__
GOOGLE_CALLBACK_URL=http://localhost:8080/api/v1/users/google/callback # Add this exact url in your Authorized redirect URIs in Google cloude console OAuth Client id form
# ################ ENV VARS TO ENABLE GOOGLE SSO LOGIN END #################

# # ----------------------------------------------------------------------------------------------------------

# ################ ENV VARS TO ENABLE GITHUB SSO LOGIN START #################
GITHUB_CLIENT_ID=__github_client_id__
GITHUB_CLIENT_SECRET=__github_client_secret__
GITHUB_CALLBACK_URL=http://localhost:8080/api/v1/users/github/callback # Add this exact url in your Authorization callback url in github OAuth app
# ################ ENV VARS TO ENABLE GITHUB SSO LOGIN END #################

# # ----------------------------------------------------------------------------------------------------------

# ################ ENV VARS TO REDIRECT WHEN USER SIGNS UP THROUGH ANY OF THE SSOs #################
CLIENT_SSO_REDIRECT_URL=http://localhost:3000/user/profile # Frontend url where backend should redirect when user is successfully logged in through the Google/Github SSO
# ################ ENV VARS TO REDIRECT WHEN USER SIGNS UP THROUGH ANY OF THE SSOs #################
